*{
	margin:0;
	padding:0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: oblique;
	max-width: initial;
}
html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
.Wbody{
	background-color: burlywood;
}
.navbar{
	position: sticky;
	display:flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	cursor: pointer;
	z-index: 9999;
}
.nav-list{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-list li{
	list-style: none;
	text-decoration: none;
	color: whitesmoke;
	padding: 20px 20px;
	font-style: normal;
}
.nav-list li:hover{
    color: rgb(108, 201, 238);
    font-size: 105%;
    transition: 0.2s ease-in;
	font-style: oblique;
}
.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
	width: 20%;
	border: 3px solid whitesmoke;
	border-radius: 50px;
}
.background{
	background: rgba(0, 0, 0, 0.7) url('../img/BG.jpg');
	background-size: cover;
}
#ID{
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 10%;
	cursor: pointer;
	z-index: 9998;
	width: 100%;
	transition: 0.7s ease-in-out;
}
#ID:hover{
	width: 120%;
}
.main{
	position: relative;
	height: 100%;
	width: 100%;
}
.main h1{
	position: relative;
	height: auto;
	width: 550px;
	left: 50%;
	transform: translateX(-50%);
	margin:5% 0 2% 0;
	text-align: center;
	font-size: 40px;
	font-weight: 650;
	letter-spacing: 1.5px;
	color:#0e4d8b;
	border-left: 5px solid #0e4d8b;
	border-right: 5px solid #0e4d8b;
	background:rgba(0, 0, 0, 0.05);
}
.main p{
	position: relative;
	height: auto;
	width: auto;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	color: rgb(90, 87, 87);
}
.main .gallery{
	position: relative;
	height: auto;
	width: 90%;
	margin: auto;
	padding: 45px 0;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2vh;
	grid-auto-flow: dense;
}
.main .gallery img{
	height: 100%;
	width: 100%;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9 );
	border-radius: 2px;
}
/* this logic is taken from a YouTube video */
.main .gallery .img:first-child{
	grid-column-start: span 1;
	grid-row-start: span 1;
}
.main .gallery .img:nth-child(2){
	grid-row-start: span 3;
	grid-column-start: span 2;
}
.main .gallery .img:nth-child(3){
	grid-column-start: span 2;
	grid-row-start: span 2;
}
.main .gallery .img:nth-child(4){
	grid-row-start: span 1;
}
.main .gallery .img:nth-child(5){
	grid-row-start: span 1;
	grid-column-start: span 1;
}
.main .gallery .img img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.5) grayscale(100);
	border-radius: 2px;
	transition: 0.3s ease-in-out;
}
.main .gallery .img:hover img{
	filter: brightness(1) grayscale(0);
	transform: scale(1.01);
}
footer{
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7) url('../img/BG.jpg');

}
footer .content{
	margin-top: 50px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer .content p{
	color: #fff;
	font-style: normal;
}
footer .content .box{
	width: 20%;
	transition: all 0.4s ease;
}
footer .content .topic{
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 16px;
}
footer .content p{
	text-align: justify;
}
footer .content .lower .topic{
	margin: 24px 0 5px 0;
}
footer .content .middle{
	padding-left: 20px;
	font-size: 12px;
}
footer .content .middle p:hover{
	line-height: 32px;
	transform: scale(1.02);
    color: rgb(214, 0, 0);
}
footer .content .middle2{
	padding-left: 20px;
}
footer .content .middle2 p:hover{
	text-decoration: none;
	transform: scale(1.02);
	color:  rgb(214, 0, 0);
	line-height: 32px;
}
footer .content .right input[type="text"]{
	height: 45px;
	width: 100%;
	outline: none;
	color: black;
	background-color: whitesmoke;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 17px;
	border: 2px solid rgb(214, 0, 0);
}
footer .content .right input[type="submit"]{
	height: 42px;
	width: 100%;
	font-size: 18px;
	color: whitesmoke;
	background: rgb(214, 0, 0);
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-top: 12px;
	border: 2px solid rgb(214, 0, 0);
	transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
	background: none;
	color:  rgb(214, 0, 0);
}
 footer .bottom{
	width: 100%;
	text-align: right;
	color: whitesmoke;
	padding: 0 40px 5px 0;
}
#myDescription{
	font-size: 18px;
}
#Mycontact{
	font-size: 18px;
}
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	background: rgba(0, 0, 0, 0.7) url('../img/SCI-FI.jpg');
	color: whitesmoke;
	text-align: center;
	padding: 5px 0;
	border-radius: 50px;
	position: absolute;
	z-index: 1;
	width: 220px;
    top: 80%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}
.burger{
	display: none;
	position: absolute;
	cursor: pointer;
	right: 15px;
	top:15px;
}
.line{
	width: 33px;
	background-color: white;
	height: 4px;
	margin: 5px 3px;
}
@media only screen and (max-width: 768px){	
	.main h1{
		font-size: 1.8em;
		width: 400px;
	}
	.main p{
		font-size: 1.2em;
	}
	.main .gallery{
		display: grid;
		grid-template-columns: auto auto auto;
	}
	#ID{
		z-index: 9999;
	}
	.burger{
		display: block;
	}
	.h-nav-res{
		height: 72px;
	}
	.v-class-res{
		opacity: 0;
	}
	footer{
		position: relative;
	}
	footer .content .box{
		width: 100%;
		margin-top: 30px;
    }
	footer .content .middle{
		padding-left: 0;
	}
	footer .content .middle{
		display: none;
	}
}
@media only screen and (max-width: 500px){
	.main .gallery{
		display: grid;
		grid-template-columns: auto auto;
	}
	footer .content .middle{
		display: none;
	}
}
@media only screen and (max-width: 350px){
    #ID{
		width: auto;
	}
	#ID:hover{
		width: 101%;
		transition: 0.2s ease-in;
	}
	.main h1{
		font-size: 1.2em;
		width: 300px;
	}
	.main p{
		font-size: 0.89em;
	}
	.main .gallery{
		display: block;
	}
	.main .gallery .img{
		display: block;
		width: 100%;
		height: 100%;
		margin:2% 0;
	}
	.main .gallery .img img{
		display: block;
		filter: brightness(0.5) grayscale(1);
	}
	.main .gallery .img:hover img{
		filter: brightness(1) grayscale(0);
		transform: scale(1.01);
	}
	.footer{
		height: auto;
	}
}

